.Toolbar {
  width: 100%;
  height: 56px;
  position: fixed;
  background-color: lightcoral;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90px;
}

.Toolbar nav {
  height: 100%;
}

.Toolbar .MainLogo {
  height: 90%;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
}
